.ev-body-container {
    background-image: url(../assets/background_main.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100%;
}

.ev-logo-container {
    text-align: left;
}

.ev-logo-container > .evangels-logo {
    margin: 20px;
    width: 70px;
}

    .ev-logo-container > .evangels-logo:hover {
        cursor: pointer;
    }

    .ev-logo-container > .evangels-logo:focus {
        outline: none;
    }

.ev-social-container {
    text-align: center;
    padding: 20px 0;
}

.ev-social-follow-us {
    color: #FFFFFF;
}